/* FOOTER */

.footer-wrapper {
  background-color: white;
  text-align: center;
  padding: 2rem 0 3rem 0;
}

.footer-hr {
  border-width: 1px;
  border-color: lightgray;
}

.footer-ironhack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.footer-ironhack-logo-container {
  width: 40px;
}
.footer-ironhack-logo-image {
  width: 100%;
}
.footer-project-by {
  text-align: left;
}
.footer-follow-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.footer-follow-us {
  text-align: center;
}
.footer-social-media-logos {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 0.6rem;
}
.footer-social-media-logo-container {
  width: 30px;
}
.footer-social-media-logo-image {
  width: 100%;
}
.footer-bottom {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
/* 
.footer-copyright {
  text-align: center;
} */
.footer-bottom > ul {
  width:50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
