/* HOMEPAGE */

.all-events-button {
  text-transform: uppercase;
  width: 100%;
  padding: 2rem 0;
  font-size: 2rem;
  margin: 40px 0;
  background-color: var(--lilac);
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.all-events-button-wrapper {
  width: 100%;
}

.homepage-random-events-wrapper {
  border-radius: 10px;
  margin-top: 1.5rem;
}

.random-filter-events-wrapper {
  width: 100%;
  padding: 2rem 0 1.6rem 0;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  align-items: baseline;
}

.random-filter-events-label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Manrope";
}

.random-filter-events-input {
  border: none;
  border-bottom: solid black;
  caret-color: black;
  border-width: 1px;
  font-size: 1.2rem;
  background-color: transparent;
  width: 30%;
  text-transform: uppercase;
  font-family: "Manrope";
}

.random-filter-events-input:focus {
  background-color: transparent;
}

.events-list-container-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.events-list-container-homepage :nth-last-child(1) {
  margin-bottom: 0;
}
.events-list-container-homepage :nth-last-child(2) {
  margin-bottom: 0;
}

.homepage-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homepage-stories-button-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.homepage-stories-button {
  height: 150px;
  width: 150px;
  background-image: url("../../public/stories.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-stories-button-headline {
  text-transform: uppercase;
  font-size: 1.6rem;
  rotate: -10deg;
  color: black;
  /* text-shadow: 3px 3px rgb(255, 255, 255); */
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--darkgrey);
  border-radius: 10px;
}

/* MOBILE */

@media only screen and (max-width: 650px) {
  .all-events-button {
    padding: 1.4rem;
    font-size: 1.6rem;
  }

  .all-events-button-wrapper {
    margin-top: 1.6rem;
  }

  /* FILTER */

  .random-filter-events-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
  }

  .random-filter-events-input {
    width: 50%;
    text-align: center;
  }
  /* EVENTS */
  .events-list-container-homepage {
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
  }

  /* HEADER */

  .homepage-header-wrapper {
    flex-direction: column;
  }

  .homepage-stories-button {
    margin-top: 0.6rem;
    height: 120px;
    width: 120px;
  }

  .homepage-stories-button-headline {
    font-size: 1.2rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  .random-filter-events-wrapper {
    margin-bottom: 2rem;
    gap:1rem;
  }
}
