/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid;
}

.nav-logo-wrapper {
  width: 240px;
}
.nav-logo-image {
  width: 100%;
}
.nav-user-wrapper {
  display: flex;
  gap: 30px;
}
.nav-user-button {
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  background-color: var(--orange);
  /* border: 1px solid; */
  border:none;
  border-radius: 10px;
  height: fit-content;
  cursor: pointer;
  font-size: 1.2rem;
  /* font-family: "Manrope"; */
}

.user-button-link{
  height: fit-content;
}

.nav-user-user-name-wrapper{
  padding: 0.8rem 1.2rem;
  background-color: var(--green);
  border-radius: 10px;
  height:fit-content;
}

.nav-user-user-name-span {
  text-decoration: underline;
}

.user-name-logout-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logout-button{
  background-color: var(--red);
  border-radius: 50%;
  height: 45px;
  width:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* MOBILE */

@media only screen and (max-width: 650px) {


  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-user-wrapper {
margin: 2.4rem 0 2rem 0;
  }
  .user-button-link{
    margin: 2rem 0 2rem 0;
  }
.user-name-logout-wrapper{
  margin-top: 1rem;
}
}
