.past-event-new-story-wrapper {
  width: 100%;
  /* min-height: 100vh; */
  max-height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: transparent;
  /* border: 1px solid; */
  padding: 15%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.past-event-new-story-inner {
  background-color: white;
  border: 1px solid;
  position: relative;
  border-radius: 10px;
}

.past-event-new-story-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.8rem 2.5rem 2.5rem 2.5rem;
}

.past-event-new-story-form-x {
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
}

.past-event-new-story-form-h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.past-event-new-story-form-h3-span {
  text-decoration: underline;
}

.past-event-new-story-form-label {
}
.past-event-new-story-form-input {
  padding: 10px 20px;
  margin: 18px 0px;
  border-radius: 10px;
  /* border: solid black 1px; */
  border: none;
  background-color: var(--pink);
  font-size: 1rem;
  font-family: "Manrope";
}

.past-event-new-story-form-textarea {
  min-height: 100px;
  resize: none;
}

.past-event-new-story-form-button {
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  width: fit-content;
  margin: 1rem auto 0 auto;
  border: none;
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  .past-event-new-story-wrapper {
    padding: 20% 12%;
    max-height: 100svh;
  }
  .past-event-new-story-form-x {
    position: inherit;
    text-align: right;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .past-event-new-story-form {
    padding-top: 1.6rem;
    padding-bottom: 4rem;
    height: 100%;
 }
}
