.past-event-all-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.past-event-single-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.past-event-card-wrapper {
  display: flex;
  border: 1px solid;
  gap: 1rem;
}
.past-event-image-wrapper {
  width: 30%;
  max-height: 150px;
  overflow: hidden;
}
.past-event-image-wrapper > img {
  width: 100%;
}
.past-event-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-top: 1rem;
}
.past-event-info-wrapper :nth-child(3) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 1rem 0;
}

.past-event-info-title {
}
.past-event-info-date {
  font-weight: lighter;
}
.past-event-info-storiecount {
  text-decoration: underline;
  font-weight: lighter;
}
.past-event-create-button-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}
.past-event-create-button {
  padding: 2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: yellow;
  cursor: pointer;
}
.past-event-story-wrapper {
  display: flex;
}
.past-event-story-placeholder {
  width: 30%;
}
.past-event-story-content {
  flex-grow: 1;
  padding: 1rem 0;
  max-width: 70%;
  box-sizing: border-box;
  padding-left: 1rem;
  border: 1px solid;
}
.past-event-story-username {
}
.past-event-story-text {
}

/* NEW STORY */

.past-event-new-story-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: transparent;
  /* border: 1px solid; */
  padding: 5%;
}

.past-event-new-story-inner {
  background-color: white;
  border: 1px solid;
}

.past-event-new-story-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10%;
}

.past-event-new-story-form-x {
  text-align: right;
  cursor: pointer;
}

.past-event-new-story-form-h3 {
  text-align: center;
}

.past-event-new-story-form-h3-span {
  text-decoration: underline;
}

.past-event-new-story-form-label {
}
.past-event-new-story-form-input {
}

.past-event-new-story-form-button {
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
}
