.past-event-all-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-top: 1.6rem;;
}

.create-story-button{
  background-color: yellow;
  cursor:auto;
  padding: 1rem;
}