.sorted-events{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 0px;
    gap: 20px;
}

.popular-upcoming-headline{
    margin-bottom: 1rem;
}

.events-list-container-sorted{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
}

.event-card-upcoming-popular{
    width: 30%;
    flex-shrink: 0;
}
