html,
body,
h1,
h2,
h3,
ul,
ol,
div,
p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

/* ALL PAGES */
.page-wrapper {
  padding: 0 8%;
}
